<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="main.css" meida="screen">
</head>
<body>
	<div id ="card_container">	
		<div class="card_wrap">
       		<div class="poster_container">
       			<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/ah/96e5b1fed2e3ae033edb.jpg?1418937240" alt=""/>
       		</div>
       		<p><input type="submit" name="" /></p>
   		</div>
   		<div class="card_wrap">
       		<div class="poster_container">
           		<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/b/1fc27f1b05aafaa33bd3.jpg?1417466843" alt=""/>
       		</div>
       		<p><input type="submit" name="" /></p>
   		</div>
   		<div class="card_wrap">
       		<div class="poster_container">
           		<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/b/d00348d55ae845420e8e.jpg?1418937343" alt=""/>
       		</div>
       		<p><input type="submit" name="" /></p>
   		</div>
   		<div class="card_wrap">
      		<div class="poster_container">
           		<img class="poster" src="https://d12hfz37g51hrt.cloudfront.net/p/b/ba44963bed75950fc1ae.jpg?1418937666" alt=""/>
       		</div>
       		<p><input type="submit" name="" /></p>
   		</div>	

</body>
</html>


